.filters-group-container {
  display: flex;
  flex-direction: column;
}

.filter-heading {
  color: #f8fafc;
  font-size: 18px;
  font-weight: 500;
}

.checkbox-list-container,
.radio-list-container {
  list-style-type: none;
  padding-left: 0;
}

.checkbox-list-item,
.radio-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}

.checkbox-input,
.radio-input {
  margin-right: 10px;
  cursor: pointer;
}

.checkbox-label,
.radio-label {
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}